@import "tailwindcss";
@keyframes slow-fly {
  0% {
    transform: translateX(-100px);
    opacity: 1;
  }
  100% {
    transform: translateX(130vw);
    opacity: 0;
  }
}

.animate-slow-fly {
  animation: slow-fly 3.1s ease-in-out forwards;
}

.fog-trail {
  animation: fog-grow 3.5s ease-in-out forwards;
}

/* Optional smooth fade-in + slide-up for words */
span {
  display: inline-block;
  will-change: opacity, transform;
}


@keyframes fog-grow {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    width: 250px;
    opacity: 0.1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 3s ease forwards;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
